/* Site Layout */
html { height: 100%;  margin-bottom: 1px; }

body {
    background:url("images/Structure/retro_background.gif") repeat fixed 50% 0 #EFEFEF;
	height: 100%; 
	margin: 0 auto;		
	color:#333333;	
	font-family:Georgia,"Times New Roman",Times,serif;
	font-size:70%; }

#main { margin: 0px auto; padding: 0px; border:0; width: 840px; }
#background { background-position: left top; background: url(images/Structure/background.gif) repeat left top; }
#header { margin-top : 10px; height: 60px; }

#headerSummary{
	background:none repeat scroll 0 0 #EEEEEE;    
    border-bottom:1px solid #CCCCCC;
    clear:both;
    display:block;
    margin:auto;
    overflow:auto;
    width:840px;
    height: 30px;
}

#navigation {
	float: left;
	width: 158px;		
	margin-left:5px;	
    padding-top:1em;           
    margin-bottom:50px;    
    height : 100%;      
}

#content {		
	margin: 0;
	float: left;
	width: 665px;	
	margin-left:5px;
	margin-right:5px;
    padding-top:1em;         
}

.navigation-items{ padding:10px; margin:10px; }

#basketSummary{ width: 300px; float: right; }

#footer {
	clear: both;	
	text-align : center;	
	background:none repeat scroll 0 0 #FFF2D9;    
    padding: 20px 0 0px 0px;
    height: 50px;
    margin:auto;
   
    width:840px;
    font-family:Georgia,"Times New Roman",Times,serif;
    font-size:1.4em;
}

#prefooter {	
    height: 90px;       
    width: 840px; 
    float: right;       
    background:none repeat scroll 0 0 #EEEEEE;
    border-top:1px solid #CCCCCC;
    border-bottom:1px solid #CCCCCC;  
}

.footer-list-header {list-style-type: none;	font-weight : bold;	font-size:1.2em; }

/* Loading Overlay */
#overlay {
    background: #ccc url(images/Structure/ajax-loader.gif) no-repeat 50% 50%; 
    display: none; 
    position: absolute; 
    text-align: center;         
    z-index:1;     
    border:1px dashed #CCC;
}
   
#smoverlay {
    background: #ccc url(images/Structure/sm-ajax-loader.gif) no-repeat 50% 50%; 
    display: none; 
    position: absolute; 
    text-align: center;         
    z-index:1;     
    border:1px dashed #CCC;
}
 
 /* Model Popup Dialog */   
.ui-widget-overlay {
    background:url("images/Structure/modal-background.png") repeat #AAAAAA;
    opacity: 0.5;
    left:0;
    position:absolute;
    top:0;
}

.ui-widget-content { background: #F4F0EC; border:1px solid #E0CFC2; color:#1E1B1D; }

/* Category Refinement */
.refine-attributes { list-style-type: none; padding:0px;  margin:0px; }

.refinement-box{
    border:1px solid #CCCCCC;
    height: 100px;
    overflow: auto;   
    margin-right : 10px;  }

li { background-repeat: no-repeat; background-position: 0px 0px; padding-bottom: 2px; }

li a.selectedItem {
    background-image: url(images/Structure/refinement-selected.gif);
    background-repeat: no-repeat;
    background-position: 2px 2px;
    padding-left: 16px;    
    cursor: pointer; }

li a.selecteddisabledItem {
    background-image: url(images/Structure/refinement-selecteddisabled.gif);
    background-repeat: no-repeat;
    background-position: 2px 2px;
    padding-left: 16px; 
    cursor: pointer;
    color:#DDDDDD; }

li a.disabledItem {
    background-image: url(images/Structure/refinement-disabled.gif);
    background-repeat: no-repeat;
    background-position: 2px 2px;
    padding-left: 16px; 
    cursor:default;
    color:#DDDDDD; }

li a.availableItem {
    background-image: url(images/Structure/refinement-available.gif);
    background-repeat: no-repeat;
    background-position: 2px 2px;
    padding-left: 16px; 
    cursor: pointer; }

/* Product Listing */
ul li.item-detail { float: left; width: 17em; border:1px solid #D1D1D1; margin-right : 2em; margin-bottom : 2em; }
ul.items-list { width: 60em;list-style-type: none; padding:0px; margin:0px; }
.item-productimage { border: medium none; height: 230px; width: 180px; text-decoration: none; }
.item-productimage-link { border-style: none; text-decoration: none; width: 180px; }
.item-productname { text-align:center; width: 180px; }
.item-price {text-align:center; width: 180px; }
.item-sortdropdown { font-size:1em; height:17px; margin:0 0 0 10px; }
.item-displayoptions-sort { float:left; font-size:0.9em;  position:relative; }
.item-displayoptions-pages { float:right; font-size:0.9em; position:relative; }

a.selected { background-color:#EDEDED; border:1px solid #666666; padding:2px 5px; }
a.notselected { background-color:#FFFFFF; border:1px solid #666666; padding:2px 5px; }

/* Basket Display */
.basket-details { margin-top : 10px; margin-right : 20px; float: right; text-align :right; }
.itemQtyBox { font-size:0.9em; height:12px; width:25px; }

/* Product Detail */
.productsTitle {border-bottom:1px solid #D1D1D1; margin-bottom : 10px; }
